@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--primary: #F2E9E4;
	--secondary: #1E2D2F;
	--accent: #C57B57;
	/*#838fba  c9d7c0*/
	scroll-behavior: smooth;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	/* You can adjust the width */
	background: transparent;
	/* Change this to the color you prefer */
	border-radius: 6px;
	/* Adjust the value to control the roundness */
}

/* Change the color and make the scrollbar thumb rounded */
::-webkit-scrollbar-thumb {
	background: var(--accent);
	/* Change this to the color you prefer */
	border-radius: 6px;
	/* Adjust the value to control the roundness */
}

.bg-accent {
  background-color: var(--accent) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.btn-outline-primary {
  background-color: var(--primary);
  color: var(--accent);
  border: 1px solid var(--accent) !important;
  border: none;
  font-weight: 500;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); */
  transition: all .3s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: var(--accent);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  /* transform: scale(1.025); */
  background-color: var(--accent);
  color: var(--primary);
  font-weight: 500;
}

body {
  background-color: var(--primary);
  font-family: 'Poppins';
}

.mycontainer {
  position: relative;
  max-width: 1290px; 
  margin: auto; 
  padding: 0 10px 0 10px;
  /* padding: 80px 10px 0 10px; */
  /* border: 2px solid black; */
  /* min-height: 130vh; */
}

.go-top {
	display: none;
	font-size: 20px;
  width: 40px;
  height: 40px;
	text-align: center;
  border-radius: 100px;
	bottom: 20px;
	right: 20px;
	transition: all 0.2s ease-in-out;
	animation: slideL 0.3s ease-in-out;
}

.go-top:hover{
	bottom: 25px;
}

.nav-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.025);
}

.bung-nav {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.035), 0 6px 20px 0 rgba(0, 0, 0, 0.045); */
  background-color: transparent;
}

.bung-nav-scroll {
  background-color: var(--primary);
  animation: fade .3s ease-in-out;
}

nav {
  max-width: 1290px;
  color: var(--secondary) !important;
}

nav ul li a {
  color: var(--secondary) !important;
  font-weight: 500 !important;
  transition: all .3s ease-in-out !important;
}

nav ul li:hover a {
  transform: translateY(-2px);
  border-bottom: 2px solid var(--accent) !important;
  padding-bottom: 4px;
  color: var(--accent) !important;
}

nav a span {
  font-family: 'Pacifico';
  font-size: 30px;
}

.bnc {
  font-size: 14px;
  color: var(--accent);
}

@keyframes fade {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

@keyframes slideL {
	0% {
		transform: translateX(50px);
		opacity: -1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}